<!-- cart.component.html -->
<p-dialog header="Shopping Cart" [(visible)]="display" [modal]="true" [style]="{width: '30vw'}" [resizable]="false"
  [draggable]="false">
  <div class="p-grid p-nogutter">
    <div class="p-col-12" *ngFor="let item of cartItems">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div>{{ item.name }}</div>
        <div>{{ item.price}} TL</div>
      </div>
    </div>
    <div class="p-col-12 p-text-right">
      <button pButton type="button" label="Checkout" class="p-button-success" (click)="checkout()"></button>
    </div>
  </div>
</p-dialog>