/* login-dialog.component.scss */
::ng-deep .mat-dialog-content {
    padding: 24px;
  }
  
  ::ng-deep .mat-form-field {
    width: 100%;
  }
  
  ::ng-deep .mat-dialog-actions {
    margin-top: 20px;
  }
  